bin/
obj/
**/bin/
**/obj/

*.user
*.suo

.DS_Store

*.swp
*.swo
*.swn
*.un~
*.tmp
.netrwhist
tags
Session.vim

*.log

node_modules/
npm-debug.log
yarn-error.log
dist/

publish/
**/publish/

.env
.env.*

*.db
*.sqlite

infoball.server/wwwroot/

