.league-navigation {
	background-color: var(--secondary-color);
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}

.league-navigation-list {
	list-style: none;
	display: flex;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

.league-navigation-item {
	display: inline-block;
}
