<li @attributes="AdditionalAttributes">
  <NavLink href="@GetLeagueUrl()" class="league-nav-link" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; text-decoration: none; width: 100%;">
    <div>
      <img src="images/PremierLeagueLogo.png" alt="test" class="league-image" />
    </div>
    <span class="league-name">
      @LeagueName
    </span>
	</NavLink>
</li>

@code {
	[Parameter]
	public string LeagueName { get; set; } = string.Empty;

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? AdditionalAttributes { get; set; }

	private string GetLeagueUrl()
	{
		var slug = SlugHelper.ToSlug(LeagueName);
		return $"/leagues/{slug}";
	}
}
