<div class="bg-secondary">
  <div class="container">
    <nav class="league-navigation">
      <ul class="league-navigation-list">
        @foreach (var league in leagues)
        {
          <LeagueNavigationItem leaguename="@league.Name" class="league-navigation-item" />
        }
      </ul>
    </nav>
  </div>
</div>

@code {
	private List<LeagueLink> leagues = new()
	{
		new LeagueLink { Name = "Premier League" },
		new LeagueLink { Name = "La Liga" },
		new LeagueLink { Name = "Serie A" },
		new LeagueLink { Name = "Bundesliga" },
		new LeagueLink { Name = "Ligue 1" },
		new LeagueLink { Name = "Eliteserien" },
		new LeagueLink { Name = "OBOS Ligaen" },
	};
}
