<nav class="main-navbar">
	<ul class="nav-list">
		@foreach (var league in leagues)
		{
			<NavItem LeagueName="@league.Name" class="nav-item" />
		}
	</ul>
</nav>

@code {
	private List<LeagueLinkDTO> leagues = new()
	{
		new LeagueLinkDTO { Name = "Premier League" },
		new LeagueLinkDTO { Name = "La Liga" },
		new LeagueLinkDTO { Name = "Eliteserien" },
	};
}
