@page "/teams"
@inject TeamApiService TeamApi

<h3>Teams</h3>

@if (teams == null)
{
  <p>Loading..</p>
}
else
{
<ul>
  @foreach (var team in teams)
  {
    <li>@team.Name</li>
  }
</ul>
}

@code {
    private List<Team>? teams;

    protected override async Task OnInitializedAsync()
    {
      teams = await TeamApi.GetAllTeamsAsync();
    }
}
