<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 text-light">

    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex align-items-center text-light text-decoration-none">
        <i class="bi bi-globe"></i>
        <span class="fs-4 fw-semibold ms-2">Infoball</span>
      </a>
    </div>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-light me-2">Login</button>
      <button type="button" class="btn btn-light text-dark">Sign-up</button>
    </div>

  </header>
</div>

@code {

}
